.mainContent > p {
	line-height: 2em;
}

.header {
    text-align: center;
    border: 0.5px dashed black;
    border-radius: 5%;
    padding-top: 10px;
}

.header > h {
	color: #1e9be8;
	font-size: 18px;
	font-weight: bold;
}

.header span {
    font-size: 14px;
}

.header .header-campus {
    text-align: center;
    padding: 0 8px 0 8px;
}

.header ol > li > p {
    margin: 0px;
}

.school-title {
    padding-bottom: 40px;
    padding-top: 20px;
}

.edit-button {
	color: white;
    border: 4px solid #1e9be8;
    background-color: #1e9be8;
    position: fixed;
    right: 2%;
    cursor: pointer;
}

.activity-item {
	position: relative;
}

.dispear {
	display: none;
}

.canbe-edit {
    contenteditable: true;
}

.activity-item > div {
	position: absolute;
    top: -5%;
    left: 0px;
}

.activity-item > div > button {
	color: white;
    border: 1px solid white;
    padding: 4px;
    background-color: #1e9be8;
    cursor: pointer;
}