            <fieldset style="color: rgb(62, 62, 62); margin-top: 20px; margin-bottom: 20px; max-width: 100%; box-sizing: border-box; min-width: 0px; -webkit-print-color-adjust: exact; border-width: 0px; border-style: initial; border-color: initial; word-wrap: break-word !important;">
              </fieldset>
              <fieldset style="margin-top: 20px; margin-bottom: 20px; max-width: 100%; box-sizing: border-box; min-width: 0px; -webkit-print-color-adjust: exact; border-width: 0px; border-style: initial; border-color: initial; word-wrap: break-word !important;">
                <section style="max-width: 100%; box-sizing: border-box; -webkit-print-color-adjust: exact; border-radius: 0px 5px 5px 0px; text-align: inherit; text-decoration: inherit; background-color: rgb(244, 244, 244); word-wrap: break-word !important;">
                  <p style="color: rgb(62, 62, 62); max-width: 100%; min-height: 1em; text-indent: 0em; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;">
                    <strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                      <span style="max-width: 100%; font-size: 16px; box-sizing: border-box !important; word-wrap: break-word !important;">
                        <span style="max-width: 100%; color: rgb(255, 255, 255); background-color: rgb(30, 155, 232); box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp; &nbsp; {{类型}}
                        </span>
                      </span>
                    </strong>
                    <span style="max-width: 100%; font-size: 16px; box-sizing: border-box !important; word-wrap: break-word !important;">
                      <span style="max-width: 100%; color: rgb(255, 255, 255); background-color: rgb(30, 155, 232); box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp; &nbsp;&nbsp;
                      </span>
                    </span>
                    <br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                  </p>
                  <p style="color: rgb(62, 62, 62); max-width: 100%; min-height: 1em; text-indent: 0em; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;">
                    <br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                  </p>
                  <ol class="list-paddingleft-2" style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                    <li>
                      <p style="max-width: 100%; min-height: 1em; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;">
                        <span style="color:#595959">{{活动1}}
                        </span>
                      </p>
                    </li>
                    <li>
                      <p style="max-width: 100%; min-height: 1em; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;">
                        <span style="color:#595959">{{活动2}}</span>
                      </p>
                    </li>
                  </ol>
                </section>
              </fieldset>