
            <section style="margin-top: 10px; margin-right: 10px; margin-left: 15px; padding: 16px; max-width: 100%; white-space: normal; widows: 1; -webkit-print-color-adjust: exact; font-family: Helvetica, arial, sans-serif; font-size: 14px; border-width: 1px; border-style: dashed; border-color: rgb(100, 100, 100); border-radius: 10px; text-align: center; background-color: rgb(255, 255, 255); box-sizing: border-box !important; word-wrap: break-word !important;">
              <p style="color: rgb(62, 62, 62); max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">
              <strong style="font-size: 18px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                <span style="max-width: 100%; -webkit-print-color-adjust: exact; line-height: 3.4; color: rgb(30, 155, 232); box-sizing: border-box !important; word-wrap: break-word !important;">今日活动
                </span>
              </strong>
              <br>
              </p>
              <!-- 今日各个类型重要活动 -->
                  <!-- 利用activityList.html模板 -->
              
            </section>