<section data-role="paragraph" class="" data-color="rgb(33, 33, 34)" data-custom="rgb(33, 33, 34)" style="max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); font-size: 16px; line-height: 25.6px; white-space: normal; widows: 1; font-family: 微软雅黑; border-width: 0px; border-style: none; border-color: initial; background-color: rgb(255, 255, 255); word-wrap: break-word !important;">
	<section class="" data-tools="135编辑器" data-id="82336" style="max-width: 100%; box-sizing: border-box; border-width: 0px; border-style: none; border-color: initial; word-wrap: break-word !important;">
	<section style="margin: 5px; max-width: 100%; box-sizing: border-box; border-width: 0px; border-style: initial; border-color: initial; text-align: center; word-wrap: break-word !important;">
	<section style="max-width: 100%; display: inline-block; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">
	<section style="margin: 5px; max-width: 100%; height: 1.5em; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">
	<section style="max-width: 100%; box-sizing: border-box; display: inline-block; height: 24px; width: 1.5em; float: left; border-top: 0.4em solid rgb(198, 198, 199); border-right-color: rgb(198, 198, 199); border-bottom-color: rgb(198, 198, 199); border-left: 0.4em solid rgb(198, 198, 199); color: inherit; word-wrap: break-word !important;">
</section>
<section style="max-width: 100%; box-sizing: border-box; display: inline-block; color: rgb(70, 70, 72); clear: both; border-color: rgb(198, 198, 199); word-wrap: break-word !important;">
</section>
</section>
<section style="margin: -1em 5px; padding: 10px 30px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit; display: inline-block;">
	<section style="max-width: 100%; color: rgb(51, 51, 51); word-break: break-all; display: inline-block; box-sizing: border-box !important; word-wrap: break-word !important;">
	<p style="max-width: 100%; min-height: 1em; font-size: 20px; line-height: 28px; box-sizing: border-box !important; word-wrap: break-word !important;">
	<span style="max-width: 100%; font-size: 24px; background-color: rgb(30, 155, 232); box-sizing: border-box !important; word-wrap: break-word !important;">
	<strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
	<span style="max-width: 100%; color: rgb(255, 255, 255); box-sizing: border-box !important; word-wrap: break-word !important;">
    &nbsp; &nbsp; &nbsp; {{ 校区 }} &nbsp; &nbsp; &nbsp;</span>
</strong>
</span>
</p>
</section>
</section>
<section style="max-width: 100%; height: 1.5em; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">
	<section style="max-width: 100%; box-sizing: border-box; height: 24px; width: 1.5em; float: right; border-bottom: 0.4em solid rgb(198, 198, 199); border-top-color: rgb(198, 198, 199); border-right: 0.4em solid rgb(198, 198, 199); border-left-color: rgb(198, 198, 199); color: inherit; word-wrap: break-word !important;">
</section>
</section>
</section>
</section>
</section>
</section>


<!-- 校区的各个活动 -->
{% for i, act in enumerate(activity) %}
  {% module ActItem(act, i+1) %}
   {% end %}


<fieldset style="margin-top: 20px; margin-bottom: 20px; max-width: 100%; box-sizing: border-box; min-width: 0px; -webkit-print-color-adjust: exact; font-family: Helvetica, arial, sans-serif; font-size: 14px; border-width: 0px; border-style: initial; border-color: initial; background-color: rgb(255, 255, 255); word-wrap: break-word !important;">
  <section style="max-width: 100%; box-sizing: border-box; -webkit-print-color-adjust: exact; border-radius: 0px 5px 5px 0px; text-align: inherit; text-decoration: inherit; background-color: rgb(244, 244, 244); word-wrap: break-word !important;">
  <section style="padding: 8px; max-width: 100%; box-sizing: border-box; -webkit-print-color-adjust: exact; word-wrap: break-word !important;">
  <section style="margin-top: 10px; margin-right: 10px; margin-left: 15px; padding: 16px; max-width: 100%; -webkit-print-color-adjust: exact; border-width: 1px; border-style: dashed; border-color: rgb(100, 100, 100); border-radius: 10px; text-align: center; background-color: rgb(255, 255, 255); box-sizing: border-box !important; word-wrap: break-word !important;">
  <span style="max-width: 100%; -webkit-print-color-adjust: exact; line-height: 3.4; color: rgb(63, 63, 63); font-size: 16px; box-sizing: border-box !important; word-wrap: break-word !important;">
  <strong style="max-width: 100%; -webkit-print-color-adjust: exact; box-sizing: border-box !important; word-wrap: break-word !important;">
  长按查看更多北校活动</strong>
</span>
<p style="max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">
  <img data-ratio="0.948051948051948" data-s="300,640" data-src="http://mmbiz.qpic.cn/mmbiz_png/A9EucKPsZKgicdPpB4icca3PAD7DMq1ClsJYNHkJxy4ibo1vZHMTQPiatmogZ5EDxPYH3kxd9WnpKrlUzfriaKTUwEw/640?wx_fmt=png" data-type="png" data-w="231" style="box-sizing: border-box !important; word-wrap: break-word !important; visibility: visible !important; width: auto !important; height: auto !important;" width="auto" _width="auto" src="http://mmbiz.qpic.cn/mmbiz_png/A9EucKPsZKgicdPpB4icca3PAD7DMq1ClsJYNHkJxy4ibo1vZHMTQPiatmogZ5EDxPYH3kxd9WnpKrlUzfriaKTUwEw/640?wx_fmt=png&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1" data-fail="0">
</p>
<p style="max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">
  <br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
</p>
</section>
<p style="max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">
  <br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
</p>
</section>
</section>
</fieldset>