<!DOCTYPE html>
<html>
  <head>
    <title>中大活动</title>
    <meta charset="utf-8">
    <script src="../static/js/jquery-2.1.4.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/collection.css" />
    <script src="../static/js/manage.js"></script>
  </head>
  <body>
    <button class="edit-button">编辑</button>
    <div style="width:50%;margin:0 auto">
      <p></p>
      <section style="font-family: 微软雅黑;">
          <section class="" style="">
            <!-- 网页头部 -->
            <!-- 引用header.html里面的模板 -->



              <!-- for 各个分校区 -->
              <!-- 引用school.html里面的模板 -->
            

              <!-- 网页脚部 -->
              <!-- {% module Footer() %} -->
              <!-- 引用footer.html里面的模板 -->


          </section>
      </section>
      <p>
          <br/>
      </p>
    </div>
  </body>
</html>
